.jumbotron {
  position: relative;
  background-image: url('assets/img/rfs_banner.jpg');
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: border;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jumbotron .haze {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.6);
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron .container .main-title {
  color: black;
}

.jumbotron .container .main-features {
  font-size: 22px;
}

.main {
  position: relative;
  min-height: 600px;
}

.spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}


.show-cover img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.show-cover {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 300px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.show-wrapper {
  padding:0;
  margin-bottom: 10px;
}

.show-info dl {
  margin-bottom: 5px;
}

.show-info dl dt {
  width: 20%;
}

.show-info dl dd {
  margin-left: 25%;
}

.show-info .show-plot {
  display: none;
  overflow-y: auto;
  margin-bottom: 10px;
}

.vote-wrapper .votes {
  font-size: 22px;
  font-weight: bold;
}

.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

@media (min-width:768px) {
  .show-info .show-plot {
    display: block;
    max-height: 300px;
  }
}

@media (min-width:992px) {
  .show-cover {
    height: 400px;
  }

  .show-cover > img {
    height: 100%;
  }
}

@media (min-width:1200px) {
  .show-cover {
    height: 500px;
  }

  .show-cover > img {
    height: 100%;
  }

  .show-info .show-plot {
    max-height: 500px;
  }
}
