.jumbotron {
  position: relative;
  background-image: url('assets/img/liba_banner.jpg');
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: border;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jumbotron .haze {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.6);
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron .container .main-title {
  color: black;
}

.jumbotron .container .main-features {
  font-size: 22px;
}

#wrapper {
  position: relative;
  height: 800px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-spinner-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

#wrapper.toggled {
  padding-left: 300px;
}

#sidebar-wrapper {
  background-color: #f1f1f1;
  z-index: 1000;
  left: 300px;
  width: 0;
  position: absolute;
  height: 100%;
  margin-left: -300px;
  margin-right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  float: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

#content-wrapper {
  position: absolute;
  float: right;
  width: 100%;
  height: 800px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content-wrapper .outlet-wrapper {
  margin: 0;
  padding: 0;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -300px;
  width: 100%;
}

@media(min-width:992px) {
  #wrapper {
    padding-left: 300px;
  }

  #sidebar-wrapper {
    float: left;
    width: 300px;
  }

  #content-wrapper {
    position: relative;
    float: right;
    padding-left: 50px;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0px;
    padding-left: 50px;
  }
}

@media (max-width:992px) {
  #content-wrapper .toggle-wrapper {
    height: 50px;
    width: 100%;
  }
}



#content-wrapper .navbar-toggle {
  float: left;
  border: 1px solid #999;
}

#content-wrapper .navbar-toggle .icon-bar {
  background-color: #555;
}

.left-panel {
  width: 100%;
  height: 100%;
}

.left-panel .search-wrapper {
  width: 100%;
  height: 80px;
}

.left-panel .search-tips {
  background-color: #fff;
  width: 290px;
  margin-left: 5px;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper .btn-group-vertical {
  width: 90%;
}

.button-wrapper .lucky-button {
  margin-top: 30px;
  width: 90%;
}
