<div class="jumbotron">
  <div class="container">
    <h1 class="main-title">Film Society</h1>
  </div>
  <div class="haze">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 promo-wrapper">
      <div class="promo-pic promo-pic-rfs">
      </div>
      <div class="promo-title">
        <h3>Regular Film Show</h3>
      </div>
      <div class="promo-desc">
        <p>
          You could watch films every Thursday during semester at 19:30 in Lecture Theaters. The film will be chosen by members from three candidate films via voting system on the website. You are also welcomed to recommend films to us or write short reviews after each show.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 promo-wrapper">
      <div class="promo-pic promo-pic-liba">
      </div>
      <div class="promo-title">
        <h3>VCD/DVD Library</h3>
      </div>
      <div class="promo-desc">
        <p>
          You could borrow VCD/DVDs as well as external disc drives either at counter (beside McCafe, LG5, 17:00-18:30) or by delivery on weekdays during semester. You may check the status of disks, make reservation or request for delivery on our website. You are also welcomed to recommend films to us and vote for DVDs to purchase.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 promo-wrapper">
      <div class="promo-pic promo-pic-fft">
      </div>
      <div class="promo-title">
        <h3>Free Film Tickets</h3>
      </div>
      <div class="promo-desc">
        <p>
          Film tickets will be provided for members 3-5 times per month. You can apply for the tickets by replying the notification email or via our website. Lucky Draws may be conducted when number of application exceeds the quota.
        </p>
      </div>
    </div>
  </div>
</div>
